table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .container {
    margin-top: 4rem;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  h1 {
    margin-top: 40px;
  }
  table {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  th, td {
    padding: 12px;
  }
  
  thead tr {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #f8f8f8;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropbtn {
      padding: 10px 20px;
      color: #f1f1f1;
      border: none;
      cursor: pointer;
      background-color: rgba(26, 24, 24, 0.247);
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }